<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h2>Reset Password</h2>
    <form id="resetForm">
        <label for="password">New Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="confirmPassword">Confirm Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
        <button type="submit">Reset Password</button>
    </form>

    <div id="message"></div>

    <script>
        // Form submission handler
        document.getElementById('resetForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Prevent default form submission behavior

            // Get password and confirm password values
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;
            const urlParams = new URLSearchParams(window.location.search);
            const token = urlParams.get('tkn');
            const url = '/api/reset-password/'+token;

            // Construct the request body
            const requestBody = {
                password: password,
                confirmPassword: confirmPassword
            };

            try {
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestBody)
                });

                const responseData = await response.json();

                // Display response message
                document.getElementById('message').innerText = responseData.msg;
            } catch (error) {
                console.error('Error:', error);
            }
        });
    </script>
</body>
</html>
